body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 100svw;
    background-color: hsl(228, 100%, 84%);
    font-family: "Roboto", sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.container {
    height: 70svh;
    width: 55svw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    padding: 12px;
}

.container .left-div {
    height: 100%;
    width: 30%;
    background: url(/assets/images/bg-sidebar-desktop.svg);
    border-radius: 10px;
}

.left-div .step-div {
    width: 80%;
    height: 9%;
    margin: 8%;
    display: flex;
}

.step-div .step-logo {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.step-div #indegeter{
    background-color: hsl(228, 100%, 84%);
    color: black;
}

.step-div .text-div {
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.text-div h4{
    margin: 1px;
    color: rgb(210, 210, 210);
}

.step-div .text-div .text-h4 {
    color: rgb(183, 185, 187);
    font-weight: 200;
}

.container .right-div {
    height: 94%;
    width: 54%;
    margin-left: 9%;
    border-radius: 10px;
    padding: 2%;
}

.right-div input {
    height: 35px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgb(66, 66, 65);
    font-size: 17px;
    padding-left: 10px;
}

.right-div .step2-div-desctop{
    height: 30%;
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.step2-div-desctop .asdf1-div{
    height: 140px;
    width: 140px;
    border-radius: 10px;
    border: 1px solid rgb(58, 56, 56);
}

.asdf1-div .asdf-div1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: aqua;
    margin: 10px 10px 10px 10px;
}

.asdf1-div .h4-p{
    height: 30%;
    width: 90%;
    margin-top: 20%;
    padding-left: 10%;
    border-radius: 10px;
}

.asdf1-div .h4-p h4{
    margin-bottom: 5px;
}

.right-div .step2-div2-desctop{
    background-color: rgb(216, 216, 239);
    height: 8%;
    width: 100%;
    margin-top: 3%;
    border-radius: 10px;
}


.right-div p{
    color: rgb(91, 89, 89);
    margin-top: -3%;
    margin-bottom: 9%;
}

.right-div .step3-div{
    height: 11.9%;
    width: 90%;
    margin-top: 10px;
    border: 1px solid rgb(26, 27, 26);
    border-radius: 5px;
}

.right-div .step4-div{
    height: 30%;
    width: 90%;
    border: 1px solid rgb(26, 27, 26);
    border-radius: 5px;
}

.right-div .step4-div2{
    height: 8%;
    width: 90%;
    margin-top: 10px;
    border: 1px solid rgb(26, 27, 26);
    border-radius: 5px;
}

.right-div .btn {
    margin-top: 20%;
    margin-left: 77%;
    height: 37px;
    width: 20%;
    border-radius: 5px;
    background-color: hsl(213, 96%, 18%);
    color: white;
}

.right-div .btn-step2 {
    margin-top: 23%;
    margin-left: 56%;
    height: 37px;
    border-radius: 5px;
    background-color: hsl(213, 96%, 18%);
    color: white;
}

.right-div .btn-back {
    height: 37px;
    width: 20%;
    border: none;
    background-color: rgb(255, 255, 255);
}

.right-div .btn-back a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(75, 75, 80);
}

.right-div .btn-step2 a{
    text-decoration: none;
    color: aliceblue;
}

.right-div .btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.right-div .btn:hover {
    background-color: hsl(213, 95%, 15%);
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100svh;
        height: 100svh;
        display: block;
        background-color: rgb(198, 211, 222);
        padding: 0;
        margin: 0;
        font-size: larger;
    }

    .container .left-div {
        height: 25%;
        width: 100%;
        border-radius: initial;
        display: flex;
        justify-content: center;
        background: url(/assets/images/bg-sidebar-mobile.svg) no-repeat center center;
        background-size: cover;
    }

    .step-div .text-div {
        display: none;
    }

    .container .right-div {
        height: 60%;
        width: 86%;
        margin-left: 5%;
        margin-top: -23%;
        border-radius: 10px;
        padding: 2%;
        background-color: rgb(255, 255, 255);
        
    }

    .right-div .btn {
        margin-top: 50%;
        margin-left: 70%;
        height: 40px;
        width: 30%;
        border-radius: 5px;
        background-color: rgb(3, 3, 150);
        color: white;
        margin-bottom: 5%;
    }

    .left-div .step-div {
        width: 10%;
        display: flex;
        margin: 2%;
        margin-top: 10%;
    }

    .right-div .step2-div-desctop{
        height: 58%;
        width: 100%;
        display: block;
    }

    .step2-div-desctop .asdf1-div{
        width: 90%;
        border-radius: 10px;
        border: 1px solid rgb(58, 56, 56);
        display: flex;
        height: auto;
        margin-top: 3%;
        margin-left: 5%;
    }

    .asdf1-div .h4-p{
        height: 30%;
        width: 90%;
        margin-top: 0%;
        padding-left: 5%;
        border-radius: 10px;
    }

    .asdf1-div .asdf-div1{
        width: 60px;
        margin: 20px 10px 10px 10px;
    }

    .right-div .step2-div2-desctop{
        width: 90%;
        margin-left: 5%;
        margin-top: 0%;
        border-radius: 5px;
    }
}