*{
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    width: 100svw;
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}

body header {
    height: 8svh;
    width: 99svw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(78, 76, 76);
}

body footer {
    height: 9svh;
    width: 100svw;
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    left: 0; 
}


.botton-bar {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.botton-bar p {
    color: black;
    margin: 0;
    font-size: 16px;
    padding: 7px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    gap: 5%;
}

.social-icons .nnnn {
    font-size: large;
    text-decoration: none;
}