*{
    margin: 0;
    padding: 0;
}

.main-div{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}

h1{
    margin: 5%;
}

.main-div .content-div{
    height: 80vh;
    width: 30svw;
    background-color: aliceblue;
    border-radius: 5%;
    margin: 0;
    padding: 0;
}

input{
    height: 4vh;
    width: 20vw;
    margin: 10px;
    font-size: large;
    border-radius: 5px;
    padding: 5px;
}

button{
    padding: 5px;
    height: 5vh;
    width: 15vw;
    font-size: large;
    margin-top: 5%;
    background-color: rgb(20, 101, 222);
    border-radius: 5px;
    color: aliceblue;
}

button:hover{
    background-color: rgb(5, 21, 244);
}

p{
    font-size: large;
    margin-top: 5%;
}

@media screen and (max-width: 600px) {
    input, button{
        width: 80vw;
    }
}

@media screen and (max-width: 1100px) {
    .main-div .content-div{
        width: 90svw;
        height: 70svh;
    }
}

@media screen and (max-width: 1100px) {
    input{
        width: 70svw;
    }
}
@media screen and (max-width: 1100px) {
    button{
        width: 30vw;
    }
}
